.tabla{
   border-collapse: separate;
   border-spacing: 5px;
   background: #962730;
   color: #962730;
   margin-right: 20%;
   margin: 20px 20px;
   float: right;
   
}

.tdd{
	background: #fff;
   color: #000;
   max-width: 150px;
}

.thh{
   background: #fff;
   color: #000;
}

.fuera{
	background: #d0d3d4 ;
	width: 75%;
	margin:  20px auto;
	height:80%;
	
}
.nada{ display:none;}